.view-filters .form--inline .form-type-entity-autocomplete,
.view-filters .views-exposed-form .form--inline .form-type-entity-autocomplete,
.js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-name.form-item-name,
.js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-image-caption-value.form-item-image-caption-value{
  width: 215px !important;
}

.focal-point-preview-link {
  display: none;
}

/* Hiding content from the ckeditor slice embed */
body.path-paragraph-embed .content-header,
body.path-paragraph-embed .field-multiple-table.responsive-enabled thead,
body.path-paragraph-embed .paragraph-0-item-wrapper .paragraph-top,
body.path-paragraph-embed #toolbar-administration,
body.path-paragraph-embed .block-masquerade {
 display: none;
}

body.path-paragraph-embed .paragraph-bullet:after {
  content: none;
}

body.path-paragraph-embed form .field-multiple-table .field-multiple-drag {
  width: 0px;
  padding: 0px;
}

body.path-paragraph-embed {
  padding-top: 0px!important;
}

/* Slice icon styles */
body.path-paragraph-embed .field--widget-entity-reference-embed-paragraphs .paragraphs-add-wrapper input,
body.path-paragraph-embed .field--widget-entity-reference-embed-paragraphs .paragraphs-add-wrapper:active input{
  background-image: url(/themes/custom/nc_seven/icons/single-image.svg);
  width: 140px;
  height: 140px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: top;
  text-align: center;
  font-size: 12px;
  padding: 105px 0 5px 0px;
  white-space: normal;
  vertical-align: text-bottom;
  margin: 10px;
  background-position-y: 20px;
  color: #6b6b6b;
  border: 1px solid #6b6b6b;
  background-color: white;
}

body.path-paragraph-embed input[name="paragraph_file_download_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/file-download.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_image_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/single-image.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_image_gallery_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/image-gallery.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_page_links_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/page-links.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_article_links_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/page-links.svg) !important;
}

body.path-paragraph-embed input[name="paragraph-pull-quote-add-more"] {
  background-image: url(/themes/custom/nc_seven/icons/pull-quote.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_pull_quote_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/pull-quote.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_lead_paragraph_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/lead-paragraph.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_video_embed_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/video-embed.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_social_embed_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/social-embed.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_newsletter_signup_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/newsletter-signup.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_call_to_action_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/call-to-action.svg) !important;
}

body.path-paragraph-embed input[name="paragraph_film_card_single_add_more"] {
  background-image: url(/themes/custom/nc_seven/icons/single-film-card.svg) !important;
}

/**
 * Hide the Relations controls when editing author taxonomy since they have no hierarchy.
 */
form.taxonomy-term-author-form #edit-relations,
form.taxonomy-term-article-brand-form #edit-relations,
form.taxonomy-term-article-subjects-form #edit-relations,
form.taxonomy-term-article-type-form #edit-relations,
form.taxonomy-term-copyright-form #edit-relations,
form.taxonomy-term-film-description-form #edit-relations,
form.taxonomy-term-films-form #edit-relations,
form.taxonomy-term-article-category-form #edit-relations {
  display: none;
}

/** Hide the input format help text and selector as its not needed */
.filter-wrapper {
  display: none;
}

.paragraph-select-dialog {
  height: calc(100vh - 50px) !important;
  top: 25px !important;
  overflow: scroll;
}

.paragraph-select-dialog #drupal-modal {
  max-height: none !important;
  height: calc(100% - 1em) !important;
}

.ui-dialog--narrow.paragraph-select-dialog iframe {
  height: 100% !important;
}

.paragraph-type-title {
  overflow: visible !important;
}

/** On the media field we need to be able to see the weights block */
body.path-node .media-library-item__attributes {
  position: relative;
}

/** On the media field we need to be able to see the whole filename */
body.path-node .media-library-item__name {
  white-space: inherit !important;
}
